.chartMenu p {
    padding: 10px;
    font-size: 20px;
}
.chartCard {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    padding: 20px;
}

.pert-network-details {
    margin-top: 25px;
    margin-left: 15px;
}

.details h2 {
    color: var(--clr-font-color);
}

.details p {
    color: #DDDDDDCC;
    margin: 10px 0 ;
}

.chartBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: var(--clr-primary-dark-blue);
}
