@font-face {
    font-family: "PP Supply Mono";
    src: url(fonts/PPSupplyMono-Regular.otf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "PP Supply Mono";
    src: url(fonts/PPSupplyMono-Ultralight.otf) format('truetype');
    font-weight: normal;
}

*,
::before,
::after {
    line-height: calc(1em + 0.5em);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-dark-blue: #030712;
    --clr-bg-color: #111827;
    --clr-primary-blue: #37b6d4;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--clr-bg-color);
    color: #fff;
}

.container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 3.5em;
}

.details {
    margin: 2em 0;
}

.details {
    /*max-width: 800px;*/
    width: 100%;
}

h1 {
    margin-top: 30px;
    font-weight: 600;
    font-size: clamp(32px, 2vw, 36px);
    color: rgb(221, 221, 221);
}

.details p {
    font-family: Helvetica, sans-serif;
    color: rgba(221, 221, 221, 0.8);
    font-size: clamp(14px, 4vw, 20px);
    margin: 15px 0;
    line-height: clamp(12px, 4vw, 28px);
}

.pert-table {
    margin: 5em auto 50px;
}

.content-table {
    font-family: Helvetica, sans serif;
    background-color: transparent;
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto 25px;
    font-size: 0.9em;
    min-width: 400px;
    outline: 1px solid rgba(255,255,255,.25);
    border-radius: 10px;

}

.content-table thead tr{
    background-color: #1F2937;

}

.content-table thead tr {
    color: #e8e8e8;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    height: 55px;
}

.content-table thead td:last-child {
    border-top-right-radius: 10px; /* Top-right corner radius */
    padding-right: 30px;
}
.content-table thead td:first-child {
    border-top-left-radius: 10px; /* Top-right corner radius */
    padding-left: 30px;
}

.content-table th,
.content-table td {
    padding: 12px 10px;
    text-align: center;
}

.content-table tbody {
    background-color: var(--clr-primary-dark-blue);
}

.PERT-row {
    font-size: 15px;
    height: 80px;
}

.content-table tbody tr {
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,.25);
    transition: .25s;
}

.content-table tbody tr td:first-of-type {
    padding-left: 30px;
}

.content-table tbody tr td:last-of-type {
    padding-right: 30px;
}

.content-table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.content-table tbody tr:first-of-type td:first-of-type {
    border-bottom-right-radius: 10px;
}



/*.content-table tbody tr:nth-child(even) {*/
/*    background-color: #f3f3f3;*/
/*}*/

.content-table tbody tr:hover {
    background-color: #2e343f;
}


/* Input */

input {
    padding: 5px 10px;
    background: #0a0a23;
    color: #d2d2d2;
    outline: none;
    border: 1px solid rgba(255,255,255,.35);
    border-radius: 5px;
    height: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.task-input, .predecessor-input {
    width: 60px;
}

.time-variability {
    width: 40px;

    text-align: center;
}

/* Input */

/* Author Style */

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    margin: 2em 0;
}

.copyright .author {
    font-family: "PP Supply Mono", sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF99;
    transition: 0.50s;
}

.copyright .author:hover {
    transform: translateY(-5px);
    color: #00FFF8;
}

/* Author Style */

/* Button Style */

.modification {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--clr-primary-blue);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
    cursor: pointer;
}

.icon {
    font-size: clamp(12px,vw, 16px);
    padding-right: 4px;
}

.button:hover {
    color: rgba(55, 182, 212, 0.8);
}

/* Button Style */

ul {
    padding-left: 40px;
    margin: 0;
}

ul li::marker {
    color: #DDDDDDCC;
}

.strong-text {
    font-weight: 600;
    color: var(--clr-primary-blue);
    padding: 0 5px;
}
