
.nodes {
    cursor: grab;
    box-shadow: 20px 20px 10px rgba(0,0,0,1);
}

.svg-container {
    border-radius: 10px;
    background-color: var(--clr-primary-dark-blue);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#svgContent {
    background-color: var(--clr-primary-dark-blue);

    min-width: 100%;
    max-width: 100%;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.node-sample {
    position: absolute;
    z-index: 100;
    top: 100px;
    left: 35px;
}


text {
    fill: #BCBCBC;
    cursor: grab;
    text-transform: uppercase;
}
